header.header
  .container
    .header__top
      a.suggest-btn.btn(href="#") Предложить новость
      .header__right
        a.header__tel.tel(href="tel:83513651711") 8 (3513) 65-17-11
        a.header__search-btn.btn 
          svg(width=18 height=18)
            use(xlink:href='img/sprites/sprite.svg#search')
    .header__bottom
      ul.header__menu
        li.header__item 
          a(href="#") Новости
        li.header__item
          a(href="#") Телепроекты
        li.header__item 
          a(href="#") Реклама
        li.header__item
          a(href="#") Онлайн
            svg(width=12 height=8)
              use(xlink:href='img/sprites/sprite.svg#arrow')
        li.header__item
          a(href="#") Программа передач
        li.header__item
          a(href="#") Еще
            svg(width=12 height=8)
              use(xlink:href='img/sprites/sprite.svg#arrow')
      .header__socials.socials
        .socials__title Подписывайтесь на нас:
        ul.socials__list
          a.socials__icon(href="#")
            svg(width=15 height=16)
              use(xlink:href='img/sprites/sprite.svg#yt')
          a.socials__icon(href="#")   
            svg(width=16 height=16)
              use(xlink:href='img/sprites/sprite.svg#fb')
          a.socials__icon(href="#") 
            svg(width=18 height=18)
              use(xlink:href='img/sprites/sprite.svg#vk')
          a.socials__icon(href="#") 
            svg(width=16 height=16)
              use(xlink:href='img/sprites/sprite.svg#ok')
          a.socials__icon(href="#") 
            svg(width=15 height=15)
              use(xlink:href='img/sprites/sprite.svg#inst')
      .header__mob-btn
        span
        span
        span
